.navbar-nav .nav-link {
	padding-left: .5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.navbar-nav a {
	color: #E5E5E5;
	transition: all ease 0.5s;
}
.navbar-nav a:hover,
.navbar-nav a:focus,
.navbar-nav a:active,
.navbar-nav a.hilite {
	color: #BFBFBF;
	background: #e57373;
	border-bottom: 1px #7F7F7F solid;
    height: 35px;
}
/* ===== == = === 48em (768px) === = == ===== */
@media only screen and (min-width : 48em) {
	.navbar-nav a:hover,
	.navbar-nav a:focus,
	.navbar-nav a:active,
	.navbar-nav a.hilite {
		transform: translateY(0.5rem) scaleY(1.2);
	}
	.navbar-nav .nav-link {
		padding-left: 0;
	}
}